/* Styling for all elements */
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Gotham Rounded', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

/* Styling for the background */
body {
    padding: 0;
    margin: 0%;
    background-color: rgb(177, 222, 215);
}

/* Place the buttons on the page */
.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    gap: 7px;
    
}

/* Appearance of the buttons */
.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgb(191, 246, 243);
    outline: none;
    background-color: rgb(255, 255, 255);
    border-radius: 50px
}

/* Different color for operator buttons */
.calculator-grid > button[data-operation] {
    background-color: rgb(39, 105, 63);
    border: 0px;
}
.calculator-grid > button[data-equals] {
    background-color: rgb(231, 129, 34);
    border: 0px;
}

/* Color when hovering over the buttons */
.calculator-grid > button:hover {
    background-color: rgba(186, 234, 219, 0.7);
}

/* Color when hovering over operator buttons */
.calculator-grid > button[data-operation]:hover {
    background-color: rgba(72, 120, 78, 0.9); /* Change this color as desired */
}
.calculator-grid > button[data-equals]:hover {
    background-color: rgba(219, 233, 23, 0.9); /* Change this color as desired */
}

/* For buttons that occupy two boxes */
.span-two {
    grid-column: span 2;
}

/* Position the display output */
.output {
    grid-column: 1 / -1;
    background-color: rgba(39, 105, 63);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 10px;
    margin-bottom: 10px;
}

.output .previous-operand {
    color: rgba(255, 255, 255, 0.9);
    font-size: 2.0rem;
}

.output .current-operand {
    color: rgb(255, 255, 255);
    font-size: 2.0rem;
}
